<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow"
      type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="Automation.Steps" />
      <stepAssembly assembly="Automation.Infrastructure" />
    </stepAssemblies>
  </specFlow>
  <appSettings>
    <add key="twitterURL" value="https://twitter.com/"/>
    <add key="browser" value="chrome"/>
  </appSettings>
</configuration>